<% title 'Bio' %>


<div class="twelve columns alpha">
	<div id="bio">
		<p>Hi, my name is Matthew. I am an aspiring developer of elegant software solutions. I am a graduate of the computer science program at Southern Polytechnic State University. I have been developing software since I discovered the TI-BASIC programming solutions on my TI-83 calculator in high school.</p>
		<p>My first experience as an IT professional was also in high school when I worked with the IT maintenance team for the Oconee County School System. Most recently, I worked as a tutor for Southern Polytechnic State University’s School of Computing and Software Engineering.</p>
		<p>I am comfortable working with new or unfamiliar languages and technologies. In fact, many of my most successful projects were the first I completed with a particular language or technology. For example, the Xrangs.com site was the first project I developed using Ruby and the Rails framework. Similarly, the real-time pricing simulation I developed was my first experience with both NVIDIA’s CUDA toolkit and GPGPU programming in general.</p>
		<p>I am also an experienced team developer/contributor. I find that working closely with a skilled and motivated team can maximize the potential for any given project and provides a lasting benefit to all team members. Furthermore, since my first exposure to the  code management and version control tools incorporated in the VisualWorks Smalltalk IDE, I have been an adamant proponent for the use of code management tools in any group programming project.  A subset of the projects I have completed in teams can be viewed <%= link_to "here", "https://github.com/vega670/Spring2011Distributed1", :target => "_blank" %>, <%= link_to "here", "https://github.com/vega670/TrainTracker", :target => "_blank" %>, and <%= link_to "here", "http://globalgamejam.org/2011/rock-never-dies", :target => "_blank" %>.</p>
	</div>
</div>
<div class="four columns omega">
	<div id="games">
		<h2>Games I'm Playing</h2>
		<h4>powered by <%= link_to "Steam", "http://store.steampowered.com/", :target => "_blank" %></h4>
		<%= render_cell :feeds, :games %>
	</div>
	<div id="profiles">
	<a href="http://www.linkedin.com/in/matthewrdale" target="_blank">
		<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Matthew Dale's profile on LinkedIn">
	</a>
	<a href="http://www.facebook.com/matthewhl2dale" target="_blank">
		<img src="/images/facebook160x33hx0.png" width="160" height="33" border="0" alt="View Matthew Dale's profile on Facebook">
	</a>
	</div>
</div>
<div class="clear"></div>
