<% title 'Bio' %>


<div class="eleven columns alpha">
	<div id="bio">
		<p>Matthew is an aspiring software developer looking for a position as a junior member on an experienced team. In addition to experience across a wide range of fields and with numerous computing languages and technologies, he has special interests in data aggregation, mining, modeling and simulation and high-performance computing.</p>
		<p>Matthew recently graduated from <%= link_to "Southern Polytechnic State University", "http://www.spsu.edu/home/about/index.html", :target => "_blank" %> with a BS in computer science. During his final semester, he completed an electricity grid research project including the creation of a high-performance, cross-platform simulator using C, C++ and NVIDIA’s CUDA GPGPU SDK. For another course, he was on a team that developed a web-based rail yard management system for <%= link_to "RailServe, Inc.", "http://www.railserve.biz/index.html", :target => "_blank" %>, a <%= link_to "Marmon Group", "http://www.marmon.com/Now.asp?About=true&Now=true", :target => "_blank" %> member company. For his last three semesters, Matthew also worked as a tutor for SPSU’s School of Computing and Software Engineering.</p> 
		<p>In his personal time, Matthew enjoys playing video games and ultimate Frisbee, golfing, camping and reading science fiction. He has completed several extracurricular projects for individuals, community use or personal needs and regularly engages in personal computing projects to learn new technologies and for creative outlet.</p>
	</div>
</div>
<div class="four columns omega offset-by-one">
	<div id="profiles">
		<div class="two columns alpha profile" id="linkedin">
			<%= link_to(image_tag("/images/linkedin.png"), "http://www.linkedin.com/in/matthewrdale", :target => "_blank") %>
		</div>
		<div class="two columns alpha profile" id="facebook">
			<%= link_to(image_tag("/images/facebook.png"), "http://www.facebook.com/matthewhl2dale", :target => "_blank") %>
		</div>
		<div class="clear"></div>
		<div class="two columns alpha profile" id="blogger">
			<%= link_to(image_tag("/images/blogger.png"), "http://aprototypical.blogspot.com", :target => "_blank") %>
		</div>
		<div class="two columns alpha profile">
		</div>
		<div class="clear"></div>
	</div>
<!--
	<div id="profiles">
	<a href="http://www.linkedin.com/in/matthewrdale" target="_blank">
		<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Matthew Dale's profile on LinkedIn">
	</a>
	<br /><br />
	<a href="http://www.facebook.com/matthewhl2dale" target="_blank">
		<img src="/images/facebook160x33hx0.png" width="160" height="33" border="0" alt="View Matthew Dale's profile on Facebook">
	</a>
	</div>
-->
	<div id="games">
		<h2>Games I'm Playing</h2>
		<h4>powered by <%= link_to "Steam", "http://store.steampowered.com/", :target => "_blank" %></h4>
		<%= render_cell :feeds, :games %>
	</div>
</div>
<div class="clear"></div>
