<% title 'Bio' %>


<div class="eleven columns alpha">
	<div id="bio">
		<p><span>Hi, my name is Matthew.</span> I am an aspiring developer of elegant software solutions. I am a graduate of the computer science program at Southern Polytechnic State University. I have been developing software since I discovered the TI-BASIC programming solutions on my TI-83 calculator in high school.</p>
		<p>My first experience as an IT professional was also in high school when I worked with the IT maintenance team for the Oconee County School System. Most recently, I worked as a tutor for Southern Polytechnic State University’s School of Computing and Software Engineering.</p>
		<p>I am comfortable working with new or unfamiliar languages and technologies. In fact, many of my most successful projects were the first I completed with a particular language or technology. For example, the Xrangs.com site was the first project I developed using Ruby and the Rails framework. Similarly, the real-time pricing simulation I developed was my first experience with both NVIDIA’s CUDA toolkit and GPGPU programming in general.</p>
		<p>I am also an experienced team developer/contributor. I find that working closely with a skilled and motivated team can maximize the potential for any given project and provides a lasting benefit to all team members. Furthermore, since my first exposure to the  code management and version control tools incorporated in the VisualWorks Smalltalk IDE, I have been an adamant proponent for the use of code management tools in any group programming project.  A subset of the projects I have completed in teams can be viewed <%= link_to "here", "https://github.com/vega670/Spring2011Distributed1", :target => "_blank" %>, <%= link_to "here", "https://github.com/vega670/TrainTracker", :target => "_blank" %>, and <%= link_to "here", "http://globalgamejam.org/2011/rock-never-dies", :target => "_blank" %>.</p>
	</div>
</div>
<div class="four columns offset-by-one omega">
	<h2>Games I'm Playing</h2>
	<%= render_cell :feeds, :games %>
	<h2>By Email</h2>
	<%= mail_to "matthew.robert.dale@gmail.com", "matthew.robert.dale<br />@gmail.com".html_safe, :encode => "javascript" %>
	<h2>By Phone</h2>
	(706) 247-2016
	<h2>By Mail</h2>
	2703 Macby Ave<br />Marietta, GA 30066
	<a href="http://www.linkedin.com/in/matthewrdale" target="_blank">
		<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Matthew Dale's profile on LinkedIn">
	</a>
</div>
<div class="clear"></div>
