<% title "pages" %>

<h1>Listing pages</h1>

<% @pages.each do |page| %>
	<%= link_to page.name, :controller => "pages", :action => "show", :id => page.permalink %>
	<%= link_to 'Delete', {:controller => "pages", :action => "show", :id => page.permalink}, :confirm => 'Are you sure?', :method => :delete %><br />
	
	<br />
	<% page.galleries.each do |gallery| %>
		<%= link_to gallery.name, page_gallery_path(page, gallery) %> |
		<%= link_to 'Add content',page_aadgadmin_gallery_path(page, gallery)  %><br />
		<%= gallery.description %><br />
		<%= link_to 'Edit', edit_page_aadgadmin_gallery_path(page, gallery) %><br />
		<%= link_to 'Delete', page_aadgadmin_gallery_path(page, gallery), :confirm => 'Are you sure?', :method => :delete %><br />
	<% end %>
	
	<%= link_to 'New gallery', new_page_aadgadmin_gallery_path(page) %>
	<br /><br />
<% end %>
<br />

<%= link_to 'New Page', new_page_path %>
