<% title 'Resume' %>

<div id="resume">
<div id="download" name="download">
	<%= link_to "Click here to download in PDF format.", "/matthew_dale_resume.pdf" %>
</div>
<div class="sixteen columns alpha" id="contact_info" name="contact_info">
<h1>Matthew R Dale</h1>
<%= link_to "matthewrdale.com", "http://matthewrdale.com", :target => "_blank", :class => "link" %><br />
<%= mail_to "matthew.robert.dale@gmail.com", "matthew.robert.dale@gmail.com".html_safe, :encode => "javascript", :class => "link" %><br />
(706) 247-2016
</div>
<div class="clear"></div>
<div id="address" name="address">
	<div class="eight columns omega" id="current">
		<i>Current</i><br />
		2703 Macby Ave<br />
		Marietta, GA 30066
	</div>
	<div class="eight columns alpha" id="permanent">
		<i>Permanent</i><br />
		1020 Spring Hill Ct<br />
		Watkinsville, GA 30677
	</div>
	<div class="clear"></div>
</div>
<div id="education" name="education">
<div class="two columns omega rightalign">
	<h2>Education</h2>
</div>
<div class="thirteen columns omega">
	<div class="leftborder section">
		Southern Polytechnic State University<br />
		Bachelor of Science in Computer Science, 3.78 GPA<br />
		8/09 to 5/11
	</div>
	<div class="leftborder">
		Georgia Institute of Technology<br />
		8/05 to 5/09
	</div>
</div>
<div class="clear"></div>
</div>
<div id="skills" name="skills">
<div class="two columns omega rightalign">
	<h2>Skills</h2>
</div>
<div class="thirteen columns omega">
	<div class="leftborder section">
		<i>Languages and Technologies</i><br />
		<p>Java, C/C++, NVIDIA CUDA, C#, Microsoft XNA, Ruby, Ruby on Rails, Facebook Graph API, FQL, PHP, Smalltalk</p>
		<i>Team Development</i><br />
		<p>Proficient with Subversion and Git source control systems</p>
		<i>General Computing</i><br />
		<p>Experienced using and developing in Microsoft Windows and Linux environments</p>
	</div>
</div>
<div class="clear"></div>
</div>
<div id="experience" name="experience">
<h2 class="bottomborder">Experience</h2>
<div class="eight columns alpha">
	<ul>
		<li>In a team, created a rail yard management system for RailServe, Inc.</li>
		<li>Developed a residential electrical demand simulator using the CUDA SDK</li>
		<li>In a team, created an Oregon Trail-style game using Smalltalk</li>
		<li>Developed a Facebook Page comment aggregator using the Facebook Graph API and Facebook Query Language</li>
	</ul>
</div>
<div class="eight columns omega">
	<ul>
		<li>
			Developed Rails plugin 'Acts as Dimensioned Gallery'<br />
			<%= link_to "https://github.com/vega670/acts_as_dimensioned_gallery", "https://github.com/vega670/acts_as_dimensioned_gallery", :target => "_blank", :class => "link" %>
		</li>
		<li>
			Created Xrang website using Ruby on Rails<br />
			<%= link_to "http://www.xrangs.com", "http://www.xrangs.com", :target => "_blank", :class => "link" %>
		</li>
		<li>
			In a team at Global Game Jam 2011, created a platformer/rythm game using the Microsoft XNA 3.1 framework<br />
			<%= link_to "http://globalgamejam.org/2011/rock-never-dies", "http://globalgamejam.org/2011/rock-never-dies", :target => "_blank", :class => "link" %>
		</li>
	</ul>
</div>
<div class="clear"></div>
</div>
<div id="employment" name="employment">
<h2 class="bottomborder">Employment</h2>
<div class="six columns alpha job">
	Southern Polytechnic State University<br />
	CSE Tutor<br />
	5/10 to 5/11
</div>
<div class="nine columns omega offset-by-one job_description">
	Worked with students from a variety of courses to help them understand computer science concepts.
</div>
<div class="clear"></div>
<div class="six columns alpha job">
	Oconee County School System<br />
	Technology Specialist<br />
	4/03 to 8/05
</div>
<div class="nine columns omega offset-by-one job_description">
	Responsible for handling teacher and administrator computer service requests pertaining to hardware and software problems. Also, updated images for and imaged workstations.
</div>
<div class="clear"></div>
</div>
<div id="activities" name="activities">
<h2 class="bottomborder">Activities</h2>
<div class="eight columns alpha">
	<ul>
		<li>Boy Scouts of America, Eagle Scout</li>
	</ul>
</div>
<div class="eight columns omega">
	<ul>
		<li>Weight Training</li>
	</ul>
</div>
<div class="clear"></div>
</div>
</div>
