<h1>projects</h1>

<% @projects.each do |project| %>
	<%= project.name %>
	Source: <%= link_to project.source_link, project.source_link %>
	Live: <%= link_to project.live_link, project.live_link %>
	<%= project.client %>
	<%= project.completed %>
	<br />
	<% project.galleries.each do |gallery| %>
		<%= link_to gallery.name, project_gallery_path(project, gallery) %><br />
		<%= gallery.description %><br />
		<%= link_to 'Edit', edit_project_aadgadmin_gallery_path(project, gallery) %><br />
		<%= link_to 'Delete', project_aadgadmin_gallery_path(project, gallery), :method => :delete, :confirm => 'Are you sure?' %><br />
	<% end %>
	
	<%= link_to 'New gallery', new_project_aadgadmin_gallery_path(project) %>
	<br /><br />
<% end %>

<br />

<%= link_to 'New Project', new_project_path %>
